<h2>Question</h2>
<p>What colours are the Manx Flag?</p>
<br />
<h2>Answers</h2>

<input type="text" @bind="UserAnswer"/>
<button type="button" @onclick="CheckAnswer" disabled=@ButtonDisabled>Check Answer</button>

<p>Answer: @result</p>

@code {
    [Parameter]
    public string CorrectAnswer { get; set; } = "red";
    public string UserAnswer { get; set; }
    public string result = "";
    public bool ButtonDisabled = false;

    void CheckAnswer()
    {

        if(UserAnswer.Length >= 0)
        {
            ButtonDisabled = true;
            if (UserAnswer.ToLower() == CorrectAnswer.ToLower())
            {
                result = "correct";
            }
            else
            {
                result = "incorrect";
            }
        }
        else
        {
            ButtonDisabled = false;
            result = "No answer added";
        }


    }

}
